.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
section {
    display: flex;
    flex-direction: column;
    width: 345px;
    margin:0.5rem;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 1rem black;
    background: white;
}

section:hover{
    cursor: pointer;
}