footer {
    background: rgb(36, 35, 35);
    color: white;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}