.log {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.log form{
    width:25%;
    display:flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem black;
    border-radius: 20px;
    padding-bottom: 3.5rem;
}

form img {
    width: 40%;
    height: 40%;
    padding: 5px;
    margin:3rem auto 1.5rem auto;
    border-radius: 50%;
}

form input {
    padding: 10px;
    text-align: center;
    background: rgb(189, 188, 188);
    border: 0px;
    width:50%;
    margin: 0.5rem 0 0 0;
    transition: all 0.4s ease-in;
}

form input::placeholder {
    color: rgb(87, 85, 85);
}

form input:hover {
    padding: 10px;
    text-align: center;
    color: rgb(19, 18, 18);
    background: rgb(168, 167, 167);
    transition: all 0.4s ease-in;
}

form button {
    background: rgb(76, 76, 230);
    color: white;
    padding: 3% 10% 3% 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

form button:hover {
    background: rgb(37, 37, 158);
    color: white;
    padding: 3% 12% 3% 12%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

form button:disabled {
    background: rgb(38, 38, 44);
    color: white;
    padding: 3% 12% 3% 12%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

#signup:hover {
    color: black;
    transition: all 0.2s ease-in;
}

.error {
    color: #db2269;
    font-size: small;
    display: block;
    margin:0 1rem 0 1rem;
}