.log {
    background: white;
    text-align: center;
    width: 300px;
    height: 450px;
    margin: auto;  
    border-radius: 20px;
    transform: translateY(100px);
    box-shadow: 0 0 1rem black;
}

.log img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin:3rem auto 1.5rem auto;
    border-radius: 50%;
    background: rgb(226, 226, 226);
}

.log input {
    padding: 10px;
    text-align: center;
    background: rgb(189, 188, 188);
    border: 0px;
    box-sizing: border-box;
    width:180px;
    margin: 0.5rem 0 0rem 0;
    transition: all 0.4s ease-in;
}

.log input::placeholder {
    color: rgb(87, 85, 85);
}

.log input:hover {
    padding: 10px;
    text-align: center;
    color: rgb(19, 18, 18);
    background: rgb(168, 167, 167);
    transition: all 0.4s ease-in;
}

.log button {
    background: rgb(76, 76, 230);
    color: white;
    padding: 10px 30px 10px 30px;
    margin: 2.5rem 6rem 0.5rem 6rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

.log button:hover {
    background: rgb(37, 37, 158);
    color: white;
    padding: 10px 40px 10px 40px;
    margin: 2.5rem 5rem 0.5rem 5rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

.log button:disabled {
    background: rgb(38, 38, 44);
    color: white;
    padding: 10px 30px 10px 30px;
    margin: 2.5rem 6rem 0.5rem 6rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

.log button:disabled:hover{
    background: rgb(38, 38, 44);
    color: white;
    padding: 10px 40px 10px 40px;
    margin: 2.5rem 5rem 0.5rem 5rem;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

#signup:hover {
    color: black;
    transition: all 0.2s ease-in;
}

.error {
    color: #db2269;
    font-size: small;
    display: block;
}